### Importación de datos

In [17]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [19]:
# Revisar columnas de cada tienda
print(tienda.columns)
print(tienda2.columns)
print(tienda3.columns)
print(tienda4.columns)

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')
Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')
Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')
Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [21]:
facturacion1 = (tienda["Precio"] * tienda["Cantidad de cuotas"]).sum()
facturacion2 = (tienda2["Precio"] * tienda2["Cantidad de cuotas"]).sum()
facturacion3 = (tienda3["Precio"] * tienda3["Cantidad de cuotas"]).sum()
facturacion4 = (tienda4["Precio"] * tienda4["Cantidad de cuotas"]).sum()

print("Facturación total Tienda 1:", facturacion1)
print("Facturación total Tienda 2:", facturacion2)
print("Facturación total Tienda 3:", facturacion3)
print("Facturación total Tienda 4:", facturacion4)

Facturación total Tienda 1: 3422717700.0
Facturación total Tienda 2: 3337189200.0
Facturación total Tienda 3: 3243816900.0
Facturación total Tienda 4: 3098827200.0

# 2. Ventas por categoría

In [22]:
# Categorías más populares por tienda
print("\nTienda 1 - Categorías más vendidas:\n", tienda.groupby("Categoría del Producto")["Cantidad de cuotas"].sum().sort_values(ascending=False).head())
print("\nTienda 2 - Categorías más vendidas:\n", tienda2.groupby("Categoría del Producto")["Cantidad de cuotas"].sum().sort_values(ascending=False).head())
print("\nTienda 3 - Categorías más vendidas:\n", tienda3.groupby("Categoría del Producto")["Cantidad de cuotas"].sum().sort_values(ascending=False).head())
print("\nTienda 4 - Categorías más vendidas:\n", tienda4.groupby("Categoría del Producto")["Cantidad de cuotas"].sum().sort_values(ascending=False).head())

Tienda 1 - Categorías más vendidas:
 Categoría del Producto
Muebles                 1446
Electrónicos            1341
Electrodomésticos        906
Juguetes                 872
Deportes y diversión     796
Name: Cantidad de cuotas, dtype: int64

Tienda 2 - Categorías más vendidas:
 Categoría del Producto
Electrónicos            1333
Muebles                 1265
Electrodomésticos        890
Juguetes                 876
Deportes y diversión     720
Name: Cantidad de cuotas, dtype: int64

Tienda 3 - Categorías más vendidas:
 Categoría del Producto
Muebles                 1408
Electrónicos            1262
Juguetes                 937
Electrodomésticos        882
Deportes y diversión     873
Name: Cantidad de cuotas, dtype: int64

Tienda 4 - Categorías más vendidas:
 Categoría del Producto
Muebles                 1392
Electrónicos            1293
Juguetes                 921
Deportes y diversión     786
Electrodomésticos        756
Name: Cantidad de cuotas, dtype: int64

# 3. Calificación promedio de la tienda

In [23]:
# Promedio de evaluación por cliente
print("\nTienda 1 - Promedio de evaluación por cliente:\n", tienda.groupby("Vendedor")["Calificación"].mean().head())
print("\nTienda 2 - Promedio de evaluación por cliente:\n", tienda2.groupby("Vendedor")["Calificación"].mean().head())
print("\nTienda 3 - Promedio de evaluación por cliente:\n", tienda3.groupby("Vendedor")["Calificación"].mean().head())
print("\nTienda 4 - Promedio de evaluación por cliente:\n", tienda4.groupby("Vendedor")["Calificación"].mean().head())

Tienda 1 - Promedio de evaluación por cliente:
 Vendedor
Beatriz Morales    4.024242
Blanca Ramirez     3.988889
Camila Rivera      3.946108
Felipe Santos      4.041176
Izabela de León    3.751269
Name: Calificación, dtype: float64

Tienda 2 - Promedio de evaluación por cliente:
 Vendedor
Beatriz Morales    3.947059
Blanca Ramirez     3.933735
Camila Rivera      4.142857
Felipe Santos      4.114458
Izabela de León    4.000000
Name: Calificación, dtype: float64

Tienda 3 - Promedio de evaluación por cliente:
 Vendedor
Beatriz Morales    4.208861
Blanca Ramirez     3.975460
Camila Rivera      4.127168
Felipe Santos      4.142012
Izabela de León    3.730994
Name: Calificación, dtype: float64

Tienda 4 - Promedio de evaluación por cliente:
 Vendedor
Beatriz Morales    4.019108
Blanca Ramirez     4.076471
Camila Rivera      3.915663
Felipe Santos      4.015306
Izabela de León    3.944751
Name: Calificación, dtype: float64

# 4. Productos más y menos vendidos

In [24]:
# Productos más y menos vendidos
ventas1 = tienda.groupby("Producto")["Cantidad de cuotas"].sum()
ventas2 = tienda2.groupby("Producto")["Cantidad de cuotas"].sum()
ventas3 = tienda3.groupby("Producto")["Cantidad de cuotas"].sum()
ventas4 = tienda4.groupby("Producto")["Cantidad de cuotas"].sum()

print("\nTienda 1 - Más vendido:", ventas1.idxmax(), ventas1.max())
print("Tienda 1 - Menos vendido:", ventas1.idxmin(), ventas1.min())

print("\nTienda 2 - Más vendido:", ventas2.idxmax(), ventas2.max())
print("Tienda 2 - Menos vendido:", ventas2.idxmin(), ventas2.min())

print("\nTienda 3 - Más vendido:", ventas3.idxmax(), ventas3.max())
print("Tienda 3 - Menos vendido:", ventas3.idxmin(), ventas3.min())

print("\nTienda 4 - Más vendido:", ventas4.idxmax(), ventas4.max())
print("Tienda 4 - Menos vendido:", ventas4.idxmin(), ventas4.min())

Tienda 1 - Más vendido: Secadora de ropa 214
Tienda 1 - Menos vendido: Celular ABXY 78

Tienda 2 - Más vendido: Iniciando en programación 223
Tienda 2 - Menos vendido: Mesa de comedor 89

Tienda 3 - Más vendido: Bicicleta 191
Tienda 3 - Menos vendido: TV LED UHD 4K 94

Tienda 4 - Más vendido: Dashboards con Power BI 196
Tienda 4 - Menos vendido: Armario 88

# 5. Envío promedio por tienda

In [25]:
# Costo promedio de envío por tienda
print("\nCosto promedio de envío Tienda 1:", tienda["Costo de envío"].mean())
print("Costo promedio de envío Tienda 2:", tienda2["Costo de envío"].mean())
print("Costo promedio de envío Tienda 3:", tienda3["Costo de envío"].mean())
print("Costo promedio de envío Tienda 4:", tienda4["Costo de envío"].mean())

Costo promedio de envío Tienda 1: 26018.60958033065
Costo promedio de envío Tienda 2: 25216.235693090293
Costo promedio de envío Tienda 3: 24805.680373039424
Costo promedio de envío Tienda 4: 23459.457167090754

Ranking de tiendas por facturación (de más a menos rentable):
1. Tienda 1 - Facturación: 3422717700.0
2. Tienda 2 - Facturación: 3337189200.0
3. Tienda 3 - Facturación: 3243816900.0
4. Tienda 4 - Facturación: 3098827200.0